@media(min-device-width:320px){
	html{font-size: 32px;}
}
@media(min-device-width:375px){
	html{font-size: 37.5px;}
}
@media(min-device-width:414px){
	html{font-size: 41.4px;}
}
body,ul,li{
	margin: 0;
	padding:0;
	font-family: 微软雅黑,Arial;
	background: #ececec;
}
p{
	margin: 0;
	padding: 0;
}
body{
	height: 100%;
}
.top{
	width: 100%;
	line-height: 90px;
	font-size: 0.85rem;
	padding-left: 24px;
	padding-right: 24px;
	box-sizing:border-box;
	background-color: #f04848;
	position: relative;
}
.top span{
	display: block;
	width: 100%;
	color:  #fff;
	text-align: center;
	letter-spacing:0.5em;
}
.top a{
	width: 43px;
	height: 90px;
	background: url(../vipzhongxinimg/back.png) no-repeat center center;
	position: absolute;
	top: 0%;
	left: 24px;
}
.xuanchuan{
	width: 100%;
	height: 100px;
	background: url(../vipzhongxinimg/xuanchuan.png) no-repeat center center;
	background-size: cover;
}
.yonghubox,.tuiguangbox,.miaoshubox{
	width: 100%;
	height: 110px;
	padding-left: 24px;
	padding-right: 24px;
	box-sizing:border-box;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items:center;
}
.name{
	-webkit-box-flex:1.5;
	-moz-box-flex:1.5;
	-webkit-flex:1.5;
	-mz-flexbox:1.5;
	flex:1.5;
}
.novip,.kaitongbox,.tuiguangbox .span,.miaoshubox .fuzhibtnbox{
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-webkit-flex:1;
	-mz-flexbox:1;
	flex:1;
}
.name{
	font-size: 0.69rem;
	color: #313131;
}
.novip{
	font-size: 0.53rem;
	color: #8a8a8a;
}
button{
	width: 160px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border:none;
	border-radius: 40px;
	color: #fff;
	font-size: 0.58rem;
	font-family: 微软雅黑;
}
.kaitongbox .kaitong{
	background: #ff7200;
	display: block;
	margin: 0 auto;
}
.tuiguangbox{
	height: 50px;
}
.tuiguangbox .input{
	-webkit-box-flex:3;
	-moz-box-flex:3;
	-webkit-flex:3;
	-mz-flexbox:3;
	flex:3;
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-radius: 40px;
	border:1px solid #999;
	outline: none;
	font-size: 0.64rem;
	text-align: center;
	color: #929292;
}
.tuiguangbox .span{
	font-size: 0.53rem;
	color: #929292;
}
.miaoshubox p{
	-webkit-box-flex:3;
	font-size: 0.53rem;
	-moz-box-flex:3;
	-webkit-flex:3;
	-mz-flexbox:3;
	flex:3;
	color: #929292;
	padding-left: 40px;
	box-sizing:border-box;
	line-height: 32px;
	margin-top: 24px;
}
.miaoshubox{
	height: 178px;
}
.miaoshubox span{
	color: #fa625f;
}
.miaoshubox .fuzhibtnbox .fuzhibtn{
	background: #73b462;
}
.xinxibox{
	background: #fff;
	margin-bottom: 24px;
}
.zhanjibox,.huangjinbox{
	width: 100%;
	height: 600px;
	padding: 24px;
	box-sizing:border-box;
	background: #fff;
	margin-bottom: 24px;
}
.huangjinbox{
	height: 377px;
}
.zhanjibox img,.huangjinbox img{
	float: left;
}
.zhanjibox span,.huangjinbox span{
	font-size: 0.58rem;
	color: #f97b02;
	line-height: 42px;
	float: left;
	display: block;
	margin-left: 15px;
}
.huangjinbox span{
	color: #e3bc00;
}
.zhanjibox p{
	line-height: 50px;
	font-size: 0.74rem;
	width: 100%;
	text-align: center;
	color: #484848;
}
.huangjinbox p{
	line-height: 50px;
	font-size: 0.64rem;
	width: 100%;
	color: #484848;
}
.zhanjibox .shouji{
	color: #ee4848;
}
.zhanjibox .btnbox{
	width: 50%;
	float: left;
	display: block;
	margin-bottom: 20px;
	font-size: 0.7rem;
}
.zhanjibox button{
	margin: 0 auto;
	width: 90%;
}
.zhanjibox .btn1 button{
	height: 83px;
	background: #f9b467;
}
.zhanjibox .btn2 button{
	height: 83px;
	background: #5fdd9e;
}
.zhanjibox .btn3 button{
	height: 83px;
	background: #f4715d;
}
.zhanjibox .btn4 button{
	height: 83px;
	background: #6acdf7;
}
